# Python cache
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# README exports
README_files/
